#calculator {
  background-image: url('/tupian/shoujibeijing.jpg');
  background-size: cover;
  background-position: center;
  background-color: rgba(229, 229, 229, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin: 0 auto;
  padding: 20px;
  text-align: right;
  width: 80%; /* 让计算机宽度为浏览器宽度的80% */
  height: 80vh; /* 让计算机高度为浏览器高度的80% */
  position: absolute; /* 让计算机脱离文档流，可以覆盖整个屏幕 */
  top: 10%; /* 让计算机垂直居中 */
  left: 10%; /* 让计算机水平居中 */
}
