#calculator {
  background-image: url('/tupian/shoujibeijing.jpg');
  background-size: cover;
  background-position: center;
  background-color: rgba(229, 229, 229, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin: 0 auto;
  padding: 20px;
  text-align: right;
  width: 100%; /* 让计算机宽度为100% */
  height: 100%; /* 让计算机高度为100% */
  position: fixed; /* 让计算机固定在屏幕上 */
  top: 0;
  left: 0;
  opacity: 0.8; /* 让计算机半透明 */
}
